<header>
	<img class="logo" src="/images/logo@2x.png">
	<p class="logo-text-name">ANDREA AGATHOCLEOUS</p>
	<p class="logo-text-jd">UX/UI DESIGNER & DEVELOPER</p>
	<div class="navgiation">
		<div class="nav inactive"></div>
		<div class="navBackground">
			<ul>
				<li class="selected">Websites</li>
				<li>Painting/Photography</li>
				<li>About</li>
				<li>Contact</li>
			</div>
	</div>
</header>
<div class="container">

	<div class="left-arrow"></div>
	<div class="right-arrow"></div>

	<div class="slide-1 center">
		<p class="title slide-1-title">
			UX/UI DESIGN <br>
			HTM5 / CSS3 / SASS  /JAVASCRIPT / JQUERY
		</p>
		<img class="iphone berocca" src="/images/iPhone@2x.png">
		<div class="slide-1-bg-container">
			<div class="layer slide-1-bg" data-depth="0.10"></div>
		</div>
		<img class="layer slide-1-ninja" data-depth="0.40" src="/images/ninja@2x.png">
		<p class="button slide-1-button">
			<strong>BEROCCA BOOST</strong> VIEW GAME
		</p>

	</div>

	<div class="slide-2 right">
		<p class="title slide-2-title">
			UX/UI DESIGN / WIREFRAMING <br>
			BALSAMIQ MOCKS / ADOBE PHOTOSHOP CC
		</p>
		<img class="macbook liberia" src="/images/macbook@2x.png">
		<div class="slide-2-bg-container">
			<div class="layer slide-2-bg" data-depth="0.10"></div>
		</div>
		<img class="layer slide-1-ninja" data-depth="0.40" src="/images/ninja@2x.png">
		<p class="button slide-2-button">
			<strong>OUR SCHOOL LIBERIA</strong> VIEW MOCKS
		</p>

	</div>

	<div class="pagination">
	   <a href="#" class="pg-1 selected"></a>
	   <a href="#" class="pg-2"></a>
	   <a href="#" class="pg-3"></a>
	   <a href="#" class="pg-4"></a>
	</div>

</div>