<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<header>
	<img class="logo" src="/images/logo@2x.png">
	<p class="logo-text-name">ANDREA AGATHOCLEOUS</p>
	<p class="logo-text-jd">UX/UI DESIGNER & DEVELOPER</p>
	<div class="navgiation">
		<div class="nav inactive"></div>
		<div class="navBackground">
			<ul>
				<li class="navigationitem">
					<a href="#" class="navigationurl websites selected">Websites</a>
				</li>
				<li class="navigationitem">
					<a href="#" class="navigationurl painting">Paintings/Photography</a>
				</li>
				<li class="navigationitem">
					<a href="#" class="navigationurl about">About</a>
				</li>
				<li class="navigationitem">
					<a href="#" class="navigationurl contact">Contact</a>
				</li>
			</div>
	</div>
</header>
<div class="navcontainer"></div>
<div class="orientationContainer">
	<img class="logo" src="/images/logo@2x.png">
</div>
<div class="container">

	<div class="page page-websites selected">
<!-- 		<div class="left-arrow"></div>
		<div class="right-arrow"></div> -->

		<div class="slides">
			<div>
				<div class="item slide-1">
					<p class="title slide-1-title">
						UX/UI DESIGN <br>
						HTM5 / CSS3 / SASS  /JAVASCRIPT / JQUERY
					</p>
					<img class="iphone berocca" src="/images/iPhone@2x.png">
					<div class="slide-1-bg-container">
						<div class="layer slide-1-bg" data-depth="0.10"></div>
					</div>
					<img class="layer slide-1-ninja" data-depth="0.40" src="/images/ninja@2x.png">
					<p class="button slide-1-button">
						<strong>BEROCCA BOOST</strong> VIEW GAME
					</p>
				</div>
			</div>

			<div>
				<div class="item slide-2">
					<p class="title slide-2-title">
						UX/UI DESIGN / WIREFRAMING <br>
						BALSAMIQ MOCKS / ADOBE PHOTOSHOP CC
					</p>
					<img class="macbook liberia" src="/images/macbook@2x.png">
					<div class="slide-2-bg-container">
						<div class="layer slide-2-bg" data-depth="0.30"></div>
					</div>
					<img class="layer slide-2-girls" data-depth="0.40" src="/images/girls@2x.png">
					<img class="layer slide-2-our-school-liberia" data-depth="0.50" src="/images/our-school-liberia@2x.png">
					<p class="button slide-2-button">
						<strong>OUR SCHOOL LIBERIA</strong> VIEW MOCKS
					</p>
				</div>
			</div>

			<div>
				<div class="item slide-3">
					<p class="title slide-3-title">
						ADOBE PHOTOSHOP ILLUSTRATOR <br>
						HTML5 / CSS3 / SASS /JQUERY / SCROLLRJS / RESPONSIVE / PARALLAX
					</p>
					<img class="macbook reindeer" src="/images/macbook@2x.png">
					<div class="slide-3-bg-container"></div>
					<img class="layer slide-3-reindeerhouse" src="/images/reindeerhouse@2x.png">
					<img class="layer slide-3-reindeer" data-depth="0.20" src="/images/reindeerholdinggift@2x.png">
					<p class="button slide-3-button">
						<a href="http://www.bigmobileads.com/sites/bigmobilexmas15" target="_blank"><strong>CHRISTMAS GREETINGS</strong> VIEW SITE</a>
					</p>
				</div>
			</div>

			<div>
				<div class="item slide-4">
					<p class="title slide-4-title">
						UX/UI DESIGN <br>
						HTM5 / CSS3 / SASS  /JAVASCRIPT / JQUERY
					</p>
					<img class="iphone berocca" src="/images/iPhone@2x.png">
					<div class="slide-4-bg-container"></div>
					<img class="layer slide-4-infobox" src="/images/infobox@2x.png">
					<img class="layer slide-4-pandora" data-depth="0.10" src="/images/pandora@2x.png">
					<p class="button slide-4-button">
						<strong>PANDORA RINGS</strong> VIEW SITE
					</p>
				</div>
			</div>

		</div>
	</div>

<!-- 		<div class="pagination">
		   <a href="#" class="pg-1 paginationclass selected"></a>
		   <a href="#" class="pg-2 paginationclass"></a>
		   <a href="#" class="pg-3 paginationclass"></a>
		   <a href="#" class="pg-4 paginationclass"></a>
		</div> -->


	<div class="page page-painting">
		<h1 class="landscape"><strong>paintings</strong>&<strong>photography</strong></h1>
		<h1 class="portrait"><strong>paintings</strong>&<strong><br>photography</strong></h1>
		<div class="paintingcontainer">

			<div class="gallery">

				<a href="/images/gallery1.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery1.png'>
					</div>
				</a>
				<a href="/images/gallery2.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery2.png'>
					</div>
				</a>
				<a href="/images/gallery3.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery3.png'>
					</div>
				</a>
				<a href="/images/gallery4.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery4.png'>
					</div>
				</a>
				<a href="/images/gallery5.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery5.png'>
					</div>
				</a>
				<a href="/images/gallery6.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery6.png'>
					</div>
				</a>
				<a href="/images/gallery9.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery9.png'>
					</div>
				</a>
				<a href="/images/gallery10.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery10.png'>
					</div>
				</a>
				<a href="/images/gallery11.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery11.png'>
					</div>
				</a>
				<a href="/images/gallery12.png"
				   class="fresco"
				   data-fresco-group="gallery">
				 	<div class="imgbox">
					   <img src='/images/gallery12.png'>
					</div>
				</a>

			</div>

		</div>
	</div>

	<div class="page page-about">
		<h1><strong>about</strong></h1>
		<div class="content">
			<img src="/images/andreaprofile.jpg">
			<span class="about-me">
			Hi! I'm Andrea, a Web Designer/Developer from Sydney, Australia.
			<br><br>I enjoy working with the Adobe Suite (Photoshop, Illustrator, InDesign, Flash, After Effects), HTML5, CSS3/SASS, JavaScript, jQuery, NodeJS, expressJS and Content Management Systems (CMS) such as WordPress and KeystoneJS. I also have experience with developing content for blue-chip clients such as McDonalds, Pandora Jewellery and Coca-cola.
			<br><br>When I'm not behind the screen, I like running (I ran my first half-marathon last May), painting, photography, cooking and eating.
			</span>
		</div>
	</div>

	<div class="page page-contact">
		<h1><strong>contact us</strong></h1>
		<div class="contactus">
			<a href="https://www.linkedin.com/in/andrea-agathocleous-04114276?trk=hp-identity-name" target="_blank">LinkedIn</a>
			<br><a href="mailto:contact@andrea-a.com?Subject=Hello%20again" target="_top">contact@andrea-a.com</a>
			<br><a href="tel:0401177997">0401177997</a>
		</div>
	</div>

</div>

