<header>
	<img class="logo" src="/images/logo@2x.png">
	<p class="logo-text-name">ANDREA AGATHOCLEOUS</p>
	<p class="logo-text-jd">UX/UI DESIGNER & DEVELOPER</p>
	<div class="navgiation">
		<div class="nav inactive"></div>
		<div class="navBackground">
			<ul>
				<li class="navigationitem">
					<a href="#" class="navigationurl websites selected">Websites</a>
				</li>
				<li class="navigationitem">
					<a href="#" class="navigationurl painting">Paintings/Photography</a>
				</li>
				<li class="navigationitem">
					<a href="#" class="navigationurl about">About</a>
				</li>
				<li class="navigationitem">
					<a href="#" class="navigationurl contact">Contact</a>
				</li>
			</div>
	</div>
</header>
<div class="navcontainer"></div>
<div class="container">

	<div class="page page-websites selected">
		<div class="left-arrow"></div>
		<div class="right-arrow"></div>
		<div class="slide-1 right">
			<p class="title slide-1-title">
				UX/UI DESIGN <br>
				HTM5 / CSS3 / SASS  /JAVASCRIPT / JQUERY
			</p>
			<img class="iphone berocca" src="/images/iPhone@2x.png">
			<div class="slide-1-bg-container">
				<div class="layer slide-1-bg" data-depth="0.10"></div>
			</div>
			<img class="layer slide-1-ninja" data-depth="0.40" src="/images/ninja@2x.png">
			<p class="button slide-1-button">
				<strong>BEROCCA BOOST</strong> VIEW GAME
			</p>
		</div>

		<div class="slide-2 right">
			<p class="title slide-2-title">
				UX/UI DESIGN / WIREFRAMING <br>
				BALSAMIQ MOCKS / ADOBE PHOTOSHOP CC
			</p>
			<img class="macbook liberia" src="/images/macbook@2x.png">
			<div class="slide-2-bg-container">
				<div class="layer slide-2-bg" data-depth="0.30"></div>
			</div>
			<img class="layer slide-2-girls" data-depth="0.40" src="/images/girls@2x.png">
			<img class="layer slide-2-our-school-liberia" data-depth="0.50" src="/images/our-school-liberia@2x.png">
			<p class="button slide-2-button">
				<strong>OUR SCHOOL LIBERIA</strong> VIEW MOCKS
			</p>
		</div>

		<div class="slide-3 right">
			<p class="title slide-3-title">
				UX/UI DESIGN / ILLUSTRATION <br>
				ADOBE PHOTOSHOP CC / ADOBE ILLUSTRATOR CC <br>
				HTML5 / CSS3 / SASS /JAVASCRIPT / JQUERY / SCROLLRJS /<br>
				RESPONSIVE / PARALLAX
			</p>
			<img class="macbook reindeer" src="/images/macbook@2x.png">
			<div class="slide-3-bg-container"></div>
			<img class="layer slide-3-reindeerhouse" src="/images/reindeerhouse@2x.png">
			<img class="layer slide-3-reindeer" data-depth="0.20" src="/images/reindeerholdinggift@2x.png">
			<p class="button slide-3-button">
				<strong>CHRISTMAS GREETINGS</strong> VIEW SITE
			</p>
		</div>

		<div class="slide-4 centre">
			<p class="title slide-4-title">
				UX/UI DESIGN <br>
				HTM5 / CSS3 / SASS  /JAVASCRIPT / JQUERY
			</p>
			<img class="iphone berocca" src="/images/iPhone@2x.png">
			<div class="slide-4-bg-container"></div>
			<img class="layer slide-4-infobox" src="/images/infobox@2x.png">
			<img class="layer slide-4-pandora" data-depth="0.10" src="/images/pandora@2x.png">
			<p class="button slide-4-button">
				<strong>PANDORA RINGS</strong> VIEW SITE
			</p>
		</div>

		<div class="pagination">
		   <a href="#" class="pg-1 pg-websites"></a>
		   <a href="#" class="pg-2 pg-paintings"></a>
		   <a href="#" class="pg-3 pg-about"></a>
		   <a href="#" class="pg-4 pg-contact selected"></a>
		</div>
	</div>

</div>