doctype html
html
  head
    title= 'Andrea Agathocleous - UX Designer/Developer'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/jquery/jquery.js')
    script(src='/javascripts/jquery.parallax.js')
    script(src='/javascripts/scripts.js')
  body
    block content
