@import "bourbon/bourbon"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900)

@mixin striped-bg($bg-color: #f2f2f2, $darken-amount: 5%, $stripe-color: #eee)
  background-color: $bg-color
  @include background-image(linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent))
  background-size: 40px 40px

body
  position: absolute
  top: 0
  left: 0
  padding: 0 
  margin: 0
  width: 100% 
  height: 100% 
  font: 16px "Roboto", sans-serif
  @include striped-bg

header
  position: absolute
  width: 100%
  height: 125px
  // background-color: #f6c2e8
  background-color: #f5d5ec
  top: 0
  left: 0
  text-align: center
  p
  	position: relative
  	color: #000
  	padding: 0
  	font-weight: 300
  .logo-text-jd
    margin-top: -37px
    @include animation-name(fadein)
    @include animation-duration(8s)
    @include animation-timing-function(ease-in-out)
    @include animation-iteration-count(infinite)
    opacity: 0
  .logo-text-name
    margin-top: -8px
    @include animation-name(fadeout)
    @include animation-duration(8s)
    @include animation-timing-function(ease-in-out)
    @include animation-iteration-count(infinite)
    opacity: 1

@include keyframes(fadein)
  0%
    opacity: 0
  50%
    opacity: 0
  60%
    opacity: 1
  80%
    opacity: 1
  90% 
    opacity: 0
  100% 
  	opacity: 0

@include keyframes(fadeout)
  0%
    opacity: 1
  40%
    opacity: 1
  50%
    opacity: 0
  90%
    opacity: 0
  100% 
    opacity: 1

.logo
	padding: 15px 0 15px 0
	width: 109px

.nav
  position: absolute
  width: 41.5px
  height: 31px
  top: 10px 
  right: 10px
  background-size: 100% auto
  outline: 0px solid transparent
  display: block
  @include transition(all 0.1s ease-in-out)
  z-index: 100
  &.inactive
    background-image: url("../images/hamburgerLight@2x.png")
  &.active
    background-image: url("../images/hamburgerLight@2x.png")

.navBackground
  position: absolute
  width: 250px 
  height: 220px 
  background-color: #a0bbff
  top: 0
  right: 0
  z-index: 90
  display: block 
  @include transition(all 0.1s ease-in-out)
  opacity: 0
  ul 
    list-style: none
    color: #000
    text-transform: uppercase
    font-weight: 300
    font-size: 16px
    padding-left: 1px
    margin-top: 45px
    text-align: center
    line-height: 34px

.navcontainer
    position: absolute 
    min-width: 100%
    height: 100%
    left: 0
    margin: 0
    top: 0px
    z-index: 80
    @include radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7));
    overflow: hidden    
    visibility: hidden
    opacity: 0
    transition: visibility 0s, opacity 0.5s linear
    @include transition(all 0.5s ease-in-out)
    &.on 
      visibility: visible
      opacity: 1

.container
    position: absolute 
    min-width: 100%
    height: 100%
    left: 0
    margin: 0
    top: 0px
    overflow: hidden

.page
    visibility: hidden
    opacity: 0
    transition: visibility 0s, opacity 0.5s linear
    @include transition(all 0.5s ease-in-out)
    &.selected 
      visibility: visible
      opacity: 1

.iphone
    position: absolute
    width: 250px
    height: 474px
    left: 50% !important
    margin-left: -125px
    top: 175px !important

.macbook
    position: absolute
    width: 800px
    height: 473px
    left: 50%
    margin-left: -400px
    @media screen and (orientation: portrait) and (max-width: 700px)
      position: absolute
      width: 400px
      height: 236px
      left: 50%
      margin-left: -200px
    @media screen and (orientation: landscape) and (max-height: 700px)
      width: 700px 
      height: 414px 
      margin-left: -350px
    &.liberia
      top: 200px
      @media screen and (orientation: portrait) and (max-width: 700px)
        top: 280px
    &.reindeer
      top: 200px
      @media screen and (orientation: portrait) and (max-width: 700px)
        top: 280px
  

.slide-1
  position: absolute
  width: 100% 
  height: 100% 
  top: 0 
  left: 0
  z-index: 30
  @include transition(all 0.5s ease-in-out) 
  &.center
    @include transform(translateX(0%))   
  &.left
    @include transform(translateX(-100%))
    opacity: 0
  &.right
    @include transform(translateX(100%))
    opacity: 0

.slide-2
  @extend .slide-1
  &.center
    @include transform(translateX(0%))   
  &.left
    @include transform(translateX(-100%))
    opacity: 0
  &.right
    @include transform(translateX(100%))
    opacity: 0

.slide-3
  @extend .slide-1
  &.center
    @include transform(translateX(0%))   
  &.left
    @include transform(translateX(-100%))
    opacity: 0
  &.right
    @include transform(translateX(100%))
    opacity: 0

.slide-4
  @extend .slide-1
  &.center
    @include transform(translateX(0%))   
  &.left
    @include transform(translateX(-100%))
    opacity: 0
  &.right
    @include transform(translateX(100%))
    opacity: 0

.slide-1-bg-container
    position: absolute
    width: 197px
    height: 352px
    left: 50%
    margin-left: -100.5px
    top: 228px
    overflow: hidden

.slide-1-bg
    position: relative
    width: 510px 
    height: 425px
    background-image: url("../images/beroccaBackground@2x.png")
    background-size: 100% auto 
    background-position: center center
    left: 50% !important
    margin-left: -225px

.slide-1-ninja 
    position: absolute
    width: 190px 
    height: 156px 
    left: 50% !important
    margin-left: -95px 
    top: 55% !important
    margin-top: -78px 
    @media screen and (max-height: 700px)
      top: 65% !important	
    @media screen and (max-height: 490px)
      top: 75% !important	
    @media screen and (max-height: 350px)
      opacity: 0
      @include transition(all 0.5s ease-in-out)      

.slide-2-girls
  width: 241px
  left: 50% !important
  margin-left: -120.5px
  top: 160px !important
  @media screen and (orientation: portrait) and (max-width: 700px)
    width: 115px
    left: 50% !important
    margin-left: -57.5px
    top: 270px !important
  @media screen and (orientation: landscape) and (max-height: 700px)
    width: 200px
    left: 50% !important
    margin-left: -100px
    top: 180px !important

.slide-2-our-school-liberia
  width: 547.5px
  left: 50% !important
  margin-left: -273.75px
  top: 350px !important
  @media screen and (orientation: portrait) and (max-width: 700px)
    width: 300px
    left: 50% !important
    margin-left: -150px
    top: 370px !important
  @media screen and (orientation: landscape) and (max-height: 700px)
    width: 450px
    left: 50% !important
    margin-left: -225px
    top: 350px !important

.slide-2-bg-container
    position: absolute
    width: 598px
    height: 377px
    left: 50%
    margin-left: -300px
    top: 235px
    overflow: hidden
    @media screen and (orientation: portrait) and (max-width: 700px)
      position: absolute
      width: 300px
      height: 192px
      left: 50%
      margin-left: -150px
      top: 298px
      overflow: hidden
    @media screen and (orientation: landscape) and (max-height: 700px)
      width: 530px
      height: 335px
      margin-left: -265px
      top: 231px

.slide-2-bg
    position: relative
    width: 700px
    height: 437px
    background-image: url("../images/liberiaBackground@2x.jpg")
    background-size: 100% auto 
    background-position: center center
    left: 50% !important
    margin-left: -350px
    margin-top: -30px
    @media screen and (orientation: portrait) and (max-width: 700px)
      width: 440px
      height: 280px
      margin-left: -220px

.slide-3-bg-container
    position: absolute
    width: 598px
    height: 377px
    left: 50%
    margin-left: -300px
    top: 235px
    overflow: hidden
    background-color: #0a2e4d
    @media screen and (orientation: portrait) and (max-width: 700px)
      position: absolute
      width: 300px
      height: 192px
      left: 50%
      margin-left: -150px
      top: 298px
      overflow: hidden
    @media screen and (orientation: landscape) and (max-height: 700px)
      width: 530px
      height: 335px
      margin-left: -265px
      top: 231px


.slide-3-reindeerhouse
    width: 250px
    left: 50% !important
    margin-left: -125px
    top: 297px !important
    @media screen and (orientation: portrait) and (max-width: 700px)
      width: 150px
      margin-left: -75px
      top: 301px !important
    @media screen and (orientation: landscape) and (max-height: 700px)
      top: 314px !important
      width: 200px
      margin-left: -100px

.slide-3-reindeer
    width: 200px
    left: 50% !important
    margin-left: -100px
    top: 140px !important
    @media screen and (orientation: portrait) and (max-width: 700px)
      width: 100px
      left: 50% !important
      margin-left: -50px
      top: 270px !important
    @media screen and (orientation: landscape) and (max-height: 700px)
      top: 190px !important
      width: 150px
      margin-left: -75px

.slide-4-bg-container
    position: absolute
    width: 195px
    height: 346px
    left: 50%
    margin-left: -100px
    top: 232px
    background-color: #fff
    border: 1px solid #DDD
    overflow: hidden

.slide-4-infobox
    width: 195px
    left: 50% !important
    margin-left: -99px 
    top: 340px !important
    z-index: 15

.slide-4-pandora
    width: 130px
    left: 50% !important
    margin-left: -65px
    top: 260px !important
    z-index: 10

.title
    font-weight: 300
    color: #000
    background-color: #a0bbff
    padding: 15px 30px 15px 20px
    position: absolute
    top: 109px
    left: 0px
    z-index: 10

.button
    font-weight: 300
    color: #000
    background-color: #a0ffdc
    padding: 25px 60px 25px 25px
    position: absolute
    bottom: 0px
    margin-bottom: 0px
    right: 0px
    z-index: 20
    &::after
        content: ""
        position: absolute
        width: 12px 
        height: 20px 
        background-image: url("../images/arrowBlack@2x.png")
        background-size: 100% auto 
        @include transform(rotate(180deg))
        right: 31px
        top: 26px

.left-arrow
    position: absolute 
    width: 53px
    height: 93px 
    top: 50% 
    margin-top: -46.5px
    left: 40px 
    background-image: url("../images/arrow@2x.png")
    background-size: 100% auto 
    @media screen and (orientation: portrait)
      left: 20px
      width: 30px 
      height: 52px 
    @media screen and (max-width: 781px)
      display: none
    @media screen and (max-height: 630px)
      top: 60% 
      margin-top: -26px 
    @media screen and (orientation: landscape) and (max-height: 500px)
      left: 20px
      width: 30px 
      height: 52px 
      top: 65%

.right-arrow
    position: absolute 
    width: 53px
    height: 93px 
    top: 50% 
    margin-top: -46.5px
    right: 40px 
    background-image: url("../images/arrow@2x.png")
    background-size: 100% auto 
    @include transform(rotate(180deg))
    @media screen and (orientation: portrait)
      right: 20px
      width: 30px 
      height: 52px 
    @media screen and (max-width: 781px)
      display: none
    @media screen and (max-height: 630px)
      top: 60% 
      margin-top: -26px 
    @media screen and (orientation: landscape) and (max-height: 500px)
      right: 20px
      width: 30px 
      height: 52px 
      top: 65%

.pagination
    text-align: center
    position: absolute
    bottom: 0
    left: 30%
    right: 30%
    padding-top: 20px
    z-index: 10
    height: 30px
    background-color: rgba(255,255,255,0.5)
    @media screen and (orientation: portrait)
      padding-bottom: 50px
      height: 50px

.pagination a
    display: inline-block
    margin: 0px
    width: 20px
    height: 20px

.pagination a:before
    background-color: #a0bbff
    content: ""
    display: block
    width: 10px
    height: 10px
    -webkit-border-radius: 100%
    -moz-border-radius: 100%
    -ms-border-radius: 100%
    border-radius: 100%
    @include transition(all 0.3s ease)

.pagination a:hover:before
    width: 15px
    height: 15px
    margin: -2px 0 0 -2px

.pagination a.selected:before,
.pagination a:hover:before 
    background-color: #6787da


a:link
    color: #000
    text-decoration: none
    &.selected
      font-weight: 600

a:visited
    color: #000
    text-decoration: none

a:hover
    color: #000
    text-decoration: underline

a:active
    color: #000
    text-decoration: none
