@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600);
body {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font: 16px "Roboto", sans-serif;
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, #eee 25%, transparent 25%, transparent 50%, #eee 50%, #eee 75%, transparent 75%, transparent);
  background-size: 40px 40px; }

header {
  position: absolute;
  width: 100%;
  height: 125px;
  background-color: #f5d5ec;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1000; }
  header p {
    position: relative;
    color: #000;
    padding: 0;
    font-weight: 300; }
  header .logo-text-jd {
    margin-top: -37px;
    -webkit-animation-name: fadein;
    -moz-animation-name: fadein;
    animation-name: fadein;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0; }
  header .logo-text-name {
    margin-top: -8px;
    -webkit-animation-name: fadeout;
    -moz-animation-name: fadeout;
    animation-name: fadeout;
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 1; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 1; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  50% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeout {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  50% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  50% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.logo {
  padding: 15px 0 15px 0;
  width: 109px; }

.nav {
  position: absolute;
  width: 41.5px;
  height: 31px;
  top: 10px;
  right: 10px;
  background-size: 100% auto;
  outline: 0px solid transparent;
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index: 100; }
  .nav.inactive {
    background-image: url("../images/hamburgerLight@2x.png"); }
  .nav.active {
    background-image: url("../images/hamburgerLight@2x.png"); }

.navBackground {
  position: absolute;
  width: 250px;
  height: 220px;
  background-color: #a0bbff;
  top: 0;
  right: 0;
  z-index: 90;
  display: block;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 0; }
  .navBackground ul {
    list-style: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    padding-left: 1px;
    margin-top: 45px;
    text-align: center;
    line-height: 34px; }

.navcontainer {
  position: absolute;
  min-width: 100%;
  height: 100%;
  left: 0;
  margin: 0;
  top: 0px;
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  background-image: radial-gradient(  rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .navcontainer.on {
    visibility: visible;
    opacity: 1; }

.container {
  position: absolute;
  min-width: 100%;
  height: 100%;
  left: 0;
  margin: 0;
  top: 0px;
  overflow: hidden; }

.page {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .page.selected {
    visibility: visible;
    opacity: 1; }

.iphone {
  position: absolute;
  width: 250px;
  height: 474px;
  left: 50% !important;
  margin-left: -125px;
  top: 175px !important; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .iphone {
      position: absolute;
      width: 150px;
      height: 284px;
      left: 50% !important;
      margin-left: -75px;
      top: 195px !important; } }

.macbook {
  position: absolute;
  width: 800px;
  height: 473px;
  left: 50%;
  margin-left: -400px; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .macbook {
      width: 300px;
      left: 50%;
      margin-left: -150px;
      height: 177.5px; } }
  @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
    .macbook {
      position: absolute;
      width: 400px;
      height: 236px;
      left: 50%;
      margin-left: -200px; } }
  @media screen and (orientation: landscape) and (max-height: 700px) {
    .macbook {
      width: 700px;
      height: 414px;
      margin-left: -350px; } }
  .macbook.liberia {
    top: 200px; }
    @media screen and (orientation: portrait) and (max-width: 400px) {
      .macbook.liberia {
        top: 250px; } }
    @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
      .macbook.liberia {
        top: 280px; } }
  .macbook.reindeer {
    top: 200px; }
    @media screen and (orientation: portrait) and (max-width: 400px) {
      .macbook.reindeer {
        top: 250px; } }
    @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
      .macbook.reindeer {
        top: 280px; } }

.slides {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.slide-1, .slide-2, .slide-3, .slide-4 {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.slick-list {
  position: absolute;
  width: 100%;
  height: 100%; }

.slide-1-bg-container {
  position: absolute;
  width: 197px;
  height: 352px;
  left: 50%;
  margin-left: -100px;
  top: 228px;
  overflow: hidden; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-1-bg-container {
      position: absolute;
      width: 120px;
      height: 210px;
      left: 50%;
      margin-left: -60px;
      top: 228px;
      overflow: hidden; } }

.slide-1-bg {
  position: relative;
  width: 460px;
  height: 355px;
  background-image: url("../images/beroccaBackground@2x.png");
  background-size: 100% auto;
  background-position: center center;
  left: 50% !important;
  margin-left: -225px; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-1-bg {
      width: 460px;
      height: 265px !important; } }

.slide-1-ninja {
  position: absolute;
  width: 190px;
  height: 156px;
  left: 50% !important;
  margin-left: -95px;
  top: 55% !important;
  margin-top: 320px; }
  @media screen and (max-width: 400px) {
    .slide-1-ninja {
      width: 140px !important;
      height: 116px !important;
      left: 50% !important;
      margin-left: -70px !important;
      top: 55% !important;
      margin-top: 260px !important; } }
  @media screen and (max-height: 700px) {
    .slide-1-ninja {
      top: 65% !important; } }
  @media screen and (max-height: 490px) {
    .slide-1-ninja {
      top: 75% !important; } }
  @media screen and (max-height: 350px) {
    .slide-1-ninja {
      opacity: 0;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; } }

.slide-2-girls {
  width: 241px;
  left: 50% !important;
  margin-left: -120.5px;
  top: 160px !important; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-2-girls {
      width: 90px;
      margin-left: -45px;
      left: 50% !important;
      top: 260px !important; } }
  @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
    .slide-2-girls {
      width: 115px;
      left: 50% !important;
      margin-left: -57.5px;
      top: 270px !important; } }
  @media screen and (orientation: landscape) and (max-height: 700px) {
    .slide-2-girls {
      width: 200px;
      left: 50% !important;
      margin-left: -100px;
      top: 180px !important; } }

.slide-2-our-school-liberia {
  width: 547.5px;
  left: 50% !important;
  margin-left: -273.75px;
  top: 350px !important; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-2-our-school-liberia {
      width: 210px;
      left: 50% !important;
      margin-left: -91px;
      top: 340px !important; } }
  @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
    .slide-2-our-school-liberia {
      width: 300px;
      left: 50% !important;
      margin-left: -150px;
      top: 370px !important; } }
  @media screen and (orientation: landscape) and (max-height: 700px) {
    .slide-2-our-school-liberia {
      width: 450px;
      left: 50% !important;
      margin-left: -225px;
      top: 350px !important; } }

.slide-2-bg-container {
  position: absolute;
  width: 598px;
  height: 377px;
  left: 50%;
  margin-left: -300px;
  top: 235px;
  overflow: hidden; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-2-bg-container {
      width: 230px;
      height: 150px;
      left: 50%;
      margin-left: -115px;
      top: 260px; } }
  @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
    .slide-2-bg-container {
      position: absolute;
      width: 300px;
      height: 192px;
      left: 50%;
      margin-left: -150px;
      top: 298px;
      overflow: hidden; } }
  @media screen and (orientation: landscape) and (max-height: 700px) {
    .slide-2-bg-container {
      width: 530px;
      height: 335px;
      margin-left: -265px;
      top: 231px; } }

.slide-2-bg {
  position: relative;
  width: 700px;
  height: 437px;
  background-image: url("../images/liberiaBackground@2x.jpg");
  background-size: 100% auto;
  background-position: center center;
  left: 50% !important;
  margin-left: -350px;
  margin-top: -30px; }
  @media screen and (orientation: portrait) and (max-width: 700px) {
    .slide-2-bg {
      width: 440px;
      height: 280px;
      margin-left: -220px; } }

.slide-3-bg-container {
  position: absolute;
  width: 598px;
  height: 377px;
  left: 50%;
  margin-left: -300px;
  top: 235px;
  overflow: hidden;
  background-color: #0a2e4d; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-3-bg-container {
      position: absolute;
      width: 230px;
      height: 140px;
      left: 50%;
      margin-left: -115px;
      top: 263px;
      overflow: hidden; } }
  @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
    .slide-3-bg-container {
      position: absolute;
      width: 300px;
      height: 192px;
      left: 50%;
      margin-left: -150px;
      top: 298px;
      overflow: hidden; } }
  @media screen and (orientation: landscape) and (max-height: 700px) {
    .slide-3-bg-container {
      width: 530px;
      height: 335px;
      margin-left: -265px;
      top: 231px; } }

.slide-3-reindeerhouse {
  width: 250px;
  left: 50% !important;
  margin-left: -125px;
  top: 297px !important; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-3-reindeerhouse {
      width: 105px;
      margin-left: -52.5px;
      top: 251px !important; } }
  @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
    .slide-3-reindeerhouse {
      width: 150px;
      margin-left: -75px;
      top: 301px !important; } }
  @media screen and (orientation: landscape) and (max-height: 700px) {
    .slide-3-reindeerhouse {
      top: 314px !important;
      width: 200px;
      margin-left: -100px; } }

.slide-3-reindeer {
  width: 200px;
  left: 50% !important;
  margin-left: -100px;
  top: 140px !important; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-3-reindeer {
      width: 80px;
      left: 50% !important;
      margin-left: -40px;
      top: 230px !important; } }
  @media screen and (orientation: portrait) and (min-width: 401px) and (max-width: 700px) {
    .slide-3-reindeer {
      width: 100px;
      left: 50% !important;
      margin-left: -50px;
      top: 270px !important; } }
  @media screen and (orientation: landscape) and (max-height: 700px) {
    .slide-3-reindeer {
      top: 190px !important;
      width: 150px;
      margin-left: -75px; } }

.slide-4-bg-container {
  position: absolute;
  width: 195px;
  height: 346px;
  left: 50%;
  margin-left: -100px;
  top: 232px;
  background-color: #fff;
  border: 1px solid #DDD;
  overflow: hidden; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-4-bg-container {
      position: absolute;
      width: 116px;
      height: 346px;
      left: 50%;
      margin-left: -60px;
      top: 227px; } }

.slide-4-infobox {
  width: 195px;
  left: 50% !important;
  margin-left: -99px;
  top: 340px !important;
  z-index: 15; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-4-infobox {
      width: 117px;
      left: 50% !important;
      margin-left: -60px;
      top: 290px !important;
      z-index: 15; } }

.slide-4-pandora {
  width: 130px;
  left: 50% !important;
  margin-left: -67px;
  top: 260px !important;
  z-index: 10; }
  @media screen and (orientation: portrait) and (max-width: 400px) {
    .slide-4-pandora {
      width: 80px;
      left: 50% !important;
      margin-left: -40px;
      top: 246px !important;
      z-index: 10; } }

.title {
  font-weight: 300;
  color: #000;
  background-color: #a0bbff;
  padding: 15px 30px 15px 20px;
  position: absolute;
  top: 103px;
  left: 0px;
  z-index: 10; }

.button {
  font-weight: 300;
  color: #000;
  background-color: #a0ffdc;
  padding: 25px 60px 25px 25px;
  position: absolute;
  margin-bottom: 0px;
  right: 0px;
  z-index: 20; }
  .button::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 20px;
    background-image: url("../images/arrowBlack@2x.png");
    background-size: 100% auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 31px;
    top: 26px; }
  @media screen and (min-height: 400px) and (max-height: 514px) {
    .button {
      top: 350px; } }
  @media screen and (min-height: 515px) and (max-height: 591px) {
    .button {
      top: 400px; } }
  @media screen and (min-height: 592px) and (max-height: 653px) {
    .button {
      top: 475px; } }
  @media screen and (min-height: 654px) and (max-height: 723px) {
    .button {
      top: 550px; } }
  @media screen and (min-height: 724px) and (max-height: 829px) {
    .button {
      top: 600px; } }
  @media screen and (min-height: 830px) {
    .button {
      top: 700px; } }

.left-arrow {
  position: absolute;
  display: block;
  width: 53px;
  height: 93px;
  top: 50%;
  margin-top: -46.5px;
  left: 40px;
  background-image: url("../images/arrow@2x.png");
  background-size: 100% auto;
  z-index: 200; }
  @media screen and (orientation: portrait) {
    .left-arrow {
      left: 20px;
      width: 30px;
      height: 52px; } }
  @media screen and (max-height: 420px) {
    .left-arrow {
      display: none; } }
  @media screen and (max-height: 630px) {
    .left-arrow {
      top: 60%;
      margin-top: -26px; } }
  @media screen and (orientation: landscape) and (max-height: 500px) {
    .left-arrow {
      left: 20px;
      width: 30px;
      height: 52px;
      top: 65%; } }

.right-arrow {
  position: absolute;
  display: block;
  width: 53px;
  height: 93px;
  top: 50%;
  margin-top: -46.5px;
  right: 40px;
  background-image: url("../images/arrow@2x.png");
  background-size: 100% auto;
  z-index: 200;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
  @media screen and (orientation: portrait) {
    .right-arrow {
      right: 20px;
      width: 30px;
      height: 52px; } }
  @media screen and (max-height: 420px) {
    .right-arrow {
      display: none; } }
  @media screen and (max-height: 630px) {
    .right-arrow {
      top: 60%;
      margin-top: -26px; } }
  @media screen and (orientation: landscape) and (max-height: 500px) {
    .right-arrow {
      right: 20px;
      width: 30px;
      height: 52px;
      top: 65%; } }

a:link {
  color: #000;
  text-decoration: none; }
  a:link.selected {
    font-weight: 600; }

a:visited {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: underline; }

a:active {
  color: #000;
  text-decoration: none; }

h1 {
  margin: 80px;
  top: 90px;
  position: absolute;
  font-size: 45px;
  font-family: "Open Sans";
  color: #7aa0ff;
  font-weight: lighter;
  text-shadow: 0px 4px 0px #f5d5ec; }
  @media screen and (orientation: landscape) {
    h1.portrait {
      display: none; } }
  @media screen and (orientation: portrait) {
    h1 {
      line-height: 50px;
      margin-left: 20px;
      font-size: 41px; }
      h1.landscape {
        display: none; } }

.content {
  position: absolute;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  padding: 0px;
  top: 270px;
  height: auto;
  min-height: 430px;
  margin-bottom: 100px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto"; }
  .content img {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 25px;
    margin-bottom: 35px; }
  .content .about-me {
    position: absolute;
    padding-top: 90px;
    margin-top: 50px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 100;
    top: 150px;
    width: 90%;
    left: 50%;
    padding-bottom: 100px;
    margin-left: -45%; }
  @media screen and (max-width: 401px) {
    .content {
      min-height: 750px;
      margin-bottom: 20px; } }
  @media screen and (min-width: 401px) and (max-width: 550px) {
    .content {
      min-height: 610px;
      margin-bottom: 20px; } }
  @media screen and (min-width: 551px) and (max-width: 1004px) {
    .content {
      min-height: 550px;
      margin-bottom: 20px; } }
  @media screen and (min-width: 1005px) {
    .content {
      min-height: 470px;
      margin-bottom: 20px; } }

.contactus {
  position: absolute;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  padding: 0px;
  top: 270px;
  height: auto;
  min-height: 95px;
  margin-bottom: 100px;
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto";
  font-weight: 100;
  text-align: center;
  line-height: 24px;
  padding-top: 20px; }

.page-websites {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.page-about {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: scroll; }

.page-painting {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: scroll; }

.page-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll; }

.paintingcontainer {
  position: absolute;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  top: 300px;
  height: auto;
  overflow: hidden;
  padding-bottom: 100px;
  -webkit-transition: -webkit-transform;
  -moz-transition: -moz-transform;
  transition: transform; }

.gallery .imgbox {
  position: relative;
  margin: 10px 10px 10px 10px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  float: left; }
  .gallery .imgbox img {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -120px; }

.slick-slide:focus {
  outline: none !important; }

.orientationContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: #f5d5ec;
  display: none; }
  @media screen and (orientation: landscape) and (max-width: 589px) {
    .orientationContainer {
      display: block !important; } }
  @media screen and (max-width: 295px) {
    .orientationContainer {
      display: block !important; } }

/*# sourceMappingURL=style.css.map */